.boxContainer {
  display: flex;
  justify-content: center;
}
.box {
  width: 45vw;
  border: 1px solid black;
}

.item-img {
  width: 40vw;
}

.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
